@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://people.com/thmb/nfqW6ssOb1vL1STOYnu1USooWj4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(749x0:751x2)/northern-lights-120525-4-b1dace6a80b04fb1af30121ffbe23ce2.jpg");
  text-align: center;
  margin: auto;
   font-family: "Times New Roman", serif;
}

h1{
  font-size: 50px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 40px;
  border: 7px solid rgb(234, 251, 255);
}





